
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: larger;
    background-image:url('../images/aboutnewbc.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}

h2, h3 {
    text-align:left;
    color: blue;
}
h1{
    text-align: center;
}

p {
    margin: 0 0 1em;
    padding: 0 1em;
}

center {
    margin-bottom: 1em;
}

/* Styling for unordered list */
ul {
    padding-left: 20px;  /* Adds padding to the left of the list */
    list-style-type: circle;  /* Changes the list item marker to a circle */
    font-size:larger;  /* Set the font size of the list items */
}

ul li {
    margin-bottom: 10px;  /* Adds space below each list item */
}

/* Styling for the profile cards */
.profile-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 1em;
}

.profile-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.profile-card img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.profile-info h4 {
    margin: 10px 0 5px;
}

.profile-info p {
    margin: 0;
}

/* Footer styling */
footer {
    background-color: #f1f1f1; 
    padding: 10px 0;           
    text-align: center;       
    position: relative;       
    width: 100%;              
    bottom: 0;                 
}
