/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../images/confirmtestbg.jpg');
    background-size: cover;
    background-position: center top;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 26px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 1.4em;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2 {
    font-size: 1em;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
}

.details {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between; /* Space between inputs */
}

.input-container {
    flex: 1; /* Allow inputs to grow */
    margin-right: 10px; /* Space between inputs */
}

.input-container:last-child {
    margin-right: 0; /* Remove margin from the last input */
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-size: 16px;
    display: block; /* Ensure label is above the input */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%; /* Full width */
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Button styles */
.button-actions {
    display: flex;
    justify-content: space-between; /* Space between buttons */
    margin-top: 20px;
}

button {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.update-btn {
    background-color: #007bff; /* Blue for Update */
}

.update-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.delete-btn {
    background-color: #dc3545; /* Red for Delete */
}

.delete-btn:hover {
    background-color: #c82333; /* Darker red on hover */
}

.confirm {
    background-color: #28a745; /* Green for Confirm */
}

.confirm:hover {
    background-color: #218838; /* Darker green on hover */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .form-group {
        flex-direction: column;
    }

    .form-group .input-container {
        margin-right: 0;
    }
}
