body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/faqback.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    color: #333;
    margin: 20px 0;
}

footer {
    background-color: #f1f1f1; 
    padding: 10px 0;         
    text-align: center;        
    position: relative;       
    width: 100%;              
    bottom: 0;                
}