body {
    background-image: url('../images/registerBack.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

.logo {
    width: 150px; 
    height: 70px; 
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

fieldset {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    margin: auto;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #45a049;
}

.signin-button {
    background-color: #008CBA;
}

.signin-button:hover {
    background-color: #007B9A;
}
